[submodule "cartographer-note"]
	path = 第三章/cartographer-note
	url = https://github.com/Lcp1/cartographer-note.git
[submodule "第三章/SC-LEGO-LOAM"]
	path = 第三章/SC-LEGO-LOAM
	url = https://github.com/lovelyyoshino/SC-LEGO-LOAM.git
[submodule "第三章/VINS-FUSION-leanrning"]
	path = 第三章/VINS-FUSION-leanrning
	url = https://github.com/kuankuan-yue/VINS-FUSION-leanrning.git
[submodule "第五章/避障/cpp_simulation"]
	path = 第五章/避障/cpp_simulation
	url = https://github.com/Mafumaful/cpp_simulation.git
[submodule "第二章/ros2_ws"]
	path = 第二章/ros2_ws
	url = https://github.com/Mafumaful/ros2_ws.git
[submodule "第五章/规划/path_planning"]
	path = 第五章/规划/path_planning
	url = https://github.com/vss2sn/path_planning.git
