[submodule "chapter 7/cartographer-note"]
	path = chapter 7/cartographer-note
	url = https://github.com/Lcp1/cartographer-note.git
[submodule "chapter 8/SC-LEGO-LOAM"]
	path = chapter 8/SC-LEGO-LOAM
	url = https://github.com/lovelyyoshino/SC-LEGO-LOAM.git
[submodule "chapter 6/VINS-FUSION-leanrning"]
	path = chapter 6/VINS-FUSION-leanrning
	url = https://github.com/kuankuan-yue/VINS-FUSION-leanrning.git
[submodule "chapter 10/cpp_simulation"]
	path = chapter 10/cpp_simulation
	url = https://github.com/Mafumaful/cpp_simulation.git
[submodule "chapter 4/ros2_ws"]
	path = chapter 4/ros2_ws
	url = https://github.com/Mafumaful/ros2_ws.git
[submodule "chapter 11/path_planning"]
	path = chapter 11/path_planning
	url = https://github.com/vss2sn/path_planning.git
[submodule "chapter 12/Prometheus"]
	path = chapter 12/Prometheus
	url = https://github.com/amov-lab/Prometheus.git
